PORT=3000
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/books_db
JWT_SECRET=ta_cle_secrete_ici
CLOUDINARY_CLOUD_NAME=ton_cloud_name
CLOUDINARY_API_KEY=ta_cle_api
CLOUDINARY_API_SECRET=ton_secret
API_URL=https://ton-api.onrender.com
